.researchertable {
  height: 100%;
}

.researchertable tbody tr {
  height: 100%;
}
.researchertable tbody tr th .rowtitle {
  font-variant: small-caps;
}

.researchertable tbody tr td {
  padding: 0;
}

.researchertable tbody tr td textarea {
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
}

textarea {
  width: 100%;
}


.brand-text {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 300;
  font-size: 12px;
  width: calc(100% - 90px);
  color: #1e365a !important;
  white-space: normal;
  vertical-align: middle;
  margin-bottom: 0px!important;
}

.nav-menu-top {
  font-size: 12px;
}

.text-toggle[aria-expanded=false] .text-expanded {
  display: none;
}
.text-toggle[aria-expanded=true] .text-collapsed {
  display: none;
}

.highlighted {
  padding-left: 4px;
  padding-right: 4px;
  background-color: pink;
  border-radius: 20px;
}
